#navbar {
    overflow: hidden;
    background-color: gray;
    color: white;
  }

  /* Navbar links */
#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 50px;
    text-decoration: none;
  }

  #left {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 50px;
    text-decoration: none;
  }